:root {
    --v-dark-blue-base: #2475a5;
    --v-dark-blue-lighten5: #bcfdff;
    --v-dark-blue-lighten4: #9fe0ff;
    --v-dark-blue-lighten3: #82c4f9;
    --v-dark-blue-lighten2: #65a9dc;
    --v-dark-blue-lighten1: #478fc0;
    --v-dark-blue-darken1: #005c8a;
    --v-dark-blue-darken2: #004571;
    --v-dark-blue-darken3: #002f58;
    --v-dark-blue-darken4: #001b40;
    --v-pink-base: #e0807c;
    --v-pink-lighten5: #ffffff;
    --v-pink-lighten4: #ffefe8;
    --v-pink-lighten3: #ffd2cc;
    --v-pink-lighten2: #ffb6b1;
    --v-pink-lighten1: #fe9b96;
    --v-pink-darken1: #c26663;
    --v-pink-darken2: #a54d4b;
    --v-pink-darken3: #893435;
    --v-pink-darken4: #6d1a1f;
    --v-yellow-base: #f29100;
    --v-yellow-lighten5: #ffff9f;
    --v-yellow-lighten4: #ffff83;
    --v-yellow-lighten3: #ffe367;
    --v-yellow-lighten2: #ffc74b;
    --v-yellow-lighten1: #ffac2d;
    --v-yellow-darken1: #d27700;
    --v-yellow-darken2: #b35e00;
    --v-yellow-darken3: #954600;
    --v-yellow-darken4: #792e00;
    --v-sky-blue-base: #0fb0e5;
    --v-sky-blue-lighten5: #ceffff;
    --v-sky-blue-lighten4: #aeffff;
    --v-sky-blue-lighten3: #8fffff;
    --v-sky-blue-lighten2: #6ee8ff;
    --v-sky-blue-lighten1: #49cbff;
    --v-sky-blue-darken1: #0095c9;
    --v-sky-blue-darken2: #007bad;
    --v-sky-blue-darken3: #006292;
    --v-sky-blue-darken4: #004b79;
    --v-error-base: #ff5252;
    --v-error-lighten5: #ffe4d5;
    --v-error-lighten4: #ffc6b9;
    --v-error-lighten3: #ffa99e;
    --v-error-lighten2: #ff8c84;
    --v-error-lighten1: #ff6f6a;
    --v-error-darken1: #df323b;
    --v-error-darken2: #bf0025;
    --v-error-darken3: #9f0010;
    --v-error-darken4: #800000;
    --v-info-base: #2196f3;
    --v-info-lighten5: #d4ffff;
    --v-info-lighten4: #b5ffff;
    --v-info-lighten3: #95e8ff;
    --v-info-lighten2: #75ccff;
    --v-info-lighten1: #51b0ff;
    --v-info-darken1: #007cd6;
    --v-info-darken2: #0064ba;
    --v-info-darken3: #004d9f;
    --v-info-darken4: #003784;
    --v-success-base: #4caf50;
    --v-success-lighten5: #dcffd6;
    --v-success-lighten4: #beffba;
    --v-success-lighten3: #a2ff9e;
    --v-success-lighten2: #85e783;
    --v-success-lighten1: #69cb69;
    --v-success-darken1: #2d9437;
    --v-success-darken2: #00791e;
    --v-success-darken3: #006000;
    --v-success-darken4: #004700;
    --v-warning-base: #fb8c00;
    --v-warning-lighten5: #ffff9e;
    --v-warning-lighten4: #fffb82;
    --v-warning-lighten3: #ffdf67;
    --v-warning-lighten2: #ffc24b;
    --v-warning-lighten1: #ffa72d;
    --v-warning-darken1: #db7200;
    --v-warning-darken2: #bb5900;
    --v-warning-darken3: #9d4000;
    --v-warning-darken4: #802700;
}
