:root {
  --header-height: 3rem;
  --transition-duration: 0.2s;
  --c-primary-lightest: hsl(200, 46%, 95%);
  --c-primary-lighter: hsl(200, 47%, 82%);
  --c-primary: hsl(200, 46%, 66%);
  --c-primary-darker: hsl(200, 47%, 41%);
  --c-primary-darkest-hue: 240;
  --c-primary-darkest-saturation: 11%;
  --c-primary-darkest-highlight: hsl(240, 11%, 35%);
  --c-primary-darkest: hsl(240, 11%, 30%);
  --c-primary-black: hsl(240, 11%, 15%);
  --c-primary-contrast: white;
  --c-accent: hsl(332, 100%, 50%);
  --c-accent-hue: 332;
  --c-accent-saturation: 100%;
  --c-accent-light: 50%;
  --c-accent-lighter: hsl(332, 100%, 90%);
  --c-accent-lightest: hsl(332, 100%, 95%);
  --c-text: hsl(240, 11%, 30%);
  --c-text-lighter: hsl(0, 0%, 40%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  background: black;
  margin: 0;
}

button {
  font: inherit;
  font-family: inherit;
}
